@model VOAprototype.Models.ITInvestment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Html.ValueFor(model => model.Application)</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.EntryDate)
            @Html.HiddenFor(model => model.ApprovalDate)
            @Html.HiddenFor(model => model.PurchaseDate)
            @Html.HiddenFor(model => model.TBMITService)
            @Html.HiddenFor(model => model.TBMCategory)
            @Html.HiddenFor(model => model.TBMName)
            @Html.HiddenFor(model => model.EgovBRM)
            @Html.HiddenFor(model => model.FirstClassification)
            @Html.HiddenFor(model => model.SecondClassification)
            @Html.HiddenFor(model => model.ThirdClassification)
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <input asp-for="Application" class="form-control" />
                <span asp-validation-for="Application" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new { @class = "required", style = "width: 100%; max-width: 100%; height: 150px" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity" class="control-label"></label>
                @Html.DropDownListFor(model => model.Entity, @Html.GetEnumSelectList<Entities>())
                <span asp-validation-for="Entity" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="ITFunction" class="control-label"></label>
                @Html.DropDownListFor(model => model.ITFunction, ViewBag.itfunctionlist as SelectList)
                <span asp-validation-for="ITFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ITTower" class="control-label"></label>
                <input asp-for="ITTower" class="form-control" />
                <span asp-validation-for="ITTower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Units" class="control-label"></label>
                <input id="units" asp-for="Units" type="number" class="form-control" />
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input id="unitprice" asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input id="unitprice" asp-for="TotalCost" class="form-control" disabled="disabled"/>
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsPerLicense" class="control-label"></label>
                <input asp-for="SeatsPerLicense" class="form-control" />
                <span asp-validation-for="SeatsPerLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsUsed" class="control-label"></label>
                <input asp-for="SeatsUsed" class="form-control" />
                <span asp-validation-for="SeatsUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessFunction" class="control-label"></label>
                <input asp-for="BusinessFunction" class="form-control" />
                <span asp-validation-for="BusinessFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finance" class="control-label"></label>
                <input asp-for="Finance" class="form-control" />
                <span asp-validation-for="Finance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.EntryDate)
            @Html.TextBoxFor(model => model.EntryDate, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApprovalDate)
            @Html.TextBoxFor(model => model.ApprovalDate, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseDate)
            @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <script>
        var txtA = $('#units');
        var txtB = $('#unitprice');
        var txtResult = $('#totalcost');

        function updateProduct() {
            txtResult.html(parseInt(txtA.val()) * parseInt(txtB.val()));
        }

        $(function () {
            updateProduct();
            txtA.change(updateProduct);
            txtB.bind(updateProduct);
        });
    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
